body{
	margin: 0 auto;
	background-image: url("../image/room.JPG");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}
.pesan{
	width: 500px;
	height: 450px;
	text-align: center;
	background-color: rgba(201, 207, 214, 0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}

.pesan img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

.pesan input[type="text"],input[type="text"],input[type="text"],input [type="text"],input[type="text"],input[type="email"]{
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 10px;
}


.btn-text{
	padding: 15px 30px;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #263238;
	border-bottom: 4px solid #263238;
}

.btn-text:hover{
	color: brown;
}